import java.sql.SQLOutput;
import java.util.Scanner;
import java.lang.String;

public class WordCounter {
    public static void main(String[] args) {
        String s=new String();

        Scanner sc1 = new Scanner(System.in);
        System.out.println("Enter the String value");
        s = sc1.next();

        String[] data = s.split(" ");
        int count = 1;
        for (int a = 0; a < data.length; a++){

            char m,n;
            m=s.charAt(a);
            n=s.charAt(a+1);
            if(m== ' ' && n!=' '){
                count=count+1;

            }
            System.out.println("total words:"+count);
        }

    }
}



    

